.product {
  text-align: center;
}
.product .product-inner {
  padding-bottom: 0px;
}
.product .product-inner .title {
  text-align: center;
}
.product .product-inner .title h1 {
  color: #0066ff;
  font-family: "Monoton", cursive;
  font-size: 50px;
}
.product .product-inner .title p {
  color: black;
  font-size: 24px;
}
.product .product-inner .title img {
  width: 100%;
  height: 83vh;
}
.product .product-inner .title .row {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin-bottom: 30px;
}
