.main {
  text-align: center;
  background: linear-gradient(-45deg, #e9dedb, #b66d88, #23a6d5, #8821e9);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main .main-inner {
  padding-top: 50px;
  padding-bottom: 100px;
}
.main .title {
  text-align: center;
}
.main .title h1 {
  color: #0066ff;
  font-family: "Monoton", cursive;
  font-size: 50px;
}
.main .title h2 {
  font-size: 4.8rem;
  margin-top: -40px;
}
.main .title h3 {
  font-size: 2.3em;
  color: indianred;
  margin-bottom: 80%;
}
.main .title p {
  color: #ebd1d1;
  font-size: 24px;
  margin-top: -40px;
}
.main .title img {
  width: 400px;
}
@media (max-width: 600px) {
  .main .title h2 {
    font-size: 4rem;
    margin-top: -40px;
  }
}
@media (max-width: 500px) {
  .main .title h2 {
    font-size: 3.5rem;
    margin-top: -40px;
  }
}
@media (max-width: 400px) {
  .main .title h2 {
    font-size: 3rem;
    margin-top: -40px;
  }
}
